
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("bg1.jpg");
  background-size: 110%;
}

.signup-box {
    width: 360px;
    height: 640px;
    margin: auto;
    border-radius: 3px;
    margin-top: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
  }
  
  .login-box {
    width: 370px;
    height: 370px;
    margin: auto;
    margin-top: 200px;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    
  }
  
  h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    color: #ffffff;
  }
  
  h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-right: 5px;
    color: #ffffff;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 17px;
  }
  
  form input {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 8px;
    border: none;
    border: 1px solid gray;
    border-radius: 12px;
    outline: none;
    box-shadow: rgba(245, 247, 249, 0.2) 0px 8px 24px;
  }

  input[type="button"] {
    border: none;
    width: 12em;
    height: 2.5em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
    fill: #AAAAAA;
    transition: all 800ms ease;
    font-weight: 600;
    color: #ffffff;
    font-size: medium;
    background: linear-gradient(0deg,#A47CF3,#4e2ac7);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9a17ff9a;
    transform: translateY(-2px);
    fill: white;
    transform: scale(1.2);
    margin-top: 20px;
    margin-left: 60px;
  }

  p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 30px;
    font-size: 15px;
    color: #ffffff;
  }
  .para-2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -20px;
  }
  
  .para-2 a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    color: #f5f0f0;
  }